.view-all-btn {
    background-color: transparent;
    color: orange;
    border: 2px solid orange;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}