.discountBlock {
    color: white;
    background-color: black;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.discountText {
    font-size: 25px;
}

.discountText span {
    color: #F19400;
}

.discountButton button {
    background-color: #F19400;
    color: white;
    border-radius: 80px;
    width: 280px;
    height: 60px;
    font-size: 25px;
}

.discountButton button:hover {
    cursor: pointer;
}

.discountHeader h2 {
    font-size: 50px;
}